html

{
  text-align: center;
  background-color: bisque;
}


li

{
  list-style-type: none;
  border: 2px solid black;
  width: 40%;
  margin-top: 60px;
  margin-bottom: 55px;
  margin-left: 720px;
  padding-top: 30px;
  padding-bottom: 30px;
}